%nav.navbar.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "My Quora", root_url, class: "navbar-brand"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to "Home", root_url
        %li
          = link_to "Questions", questions_url
      %ul.nav.navbar-nav.navbar-right
        - if signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.full_name
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to "Sign out", destroy_user_session_url, method: :delete
          %button.btn.btn-ask.navbar-btn{data: {"test-id": "navbar-ask-question-button", toggle: "modal", target: "#new-question-modal"}}
            Ask Question
        - else
          %li
            = link_to "Sign in", new_user_session_url
